.switch-background{
    display: flex;
    height: 19px;
    width: 36px;
    background-color: black;
    padding: 3px;
    margin: auto;
    border-radius: 20px;
    .switche1 {
        flex: 1;
        background-color: #00ADB5;
        visibility: hidden;
        border-radius: 10px;
    }
    .switche2 {
        flex: 1;
        background-color: #00ADB5;
        border-radius: 10px;
    }
}