.switch-background{
    display: flex;
    height: 19px;
    width: 36px;
    background-color: black;
    padding: 3px;
    margin: auto;
    .switche1 {
        flex: 1;
        background-color: blue;
        visibility: hidden;
    }
    .switche2 {
        flex: 1;
        background-color: blue;
    }
}