.Volumeline{
    position: relative;
    height: 4px;
    width: 200px;
    background-color: #00ADB5;
    border: 2px solid black;
    border-radius: 4px;
    .Volumetick {
        position: absolute;
        top: -120%;
        left: 0px;
        height: 10px;
        width: 20px;
        background-color: gray;
        transform: rotate(90deg);
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;

    }
  
}